<template>
  <div class="hello">
    <div class="searchData">
      <h3>COUNTRIES</h3>
      <form class="form">
        <b-input-group class="mb-2">
          <b-form-input type="search" placeholder="Search Countries" v-model="search" class="inputData"></b-form-input>
          <b-input-group-prepend is-text v-b-modal.modal="true" v-on:click="submit">
            <b-icon icon="search" ></b-icon>
          </b-input-group-prepend>
        </b-input-group>
      </form>
    </div>
    <div >
      <b-modal id="modal" ref="modal"  centered title="Detail Countries" >
        
          <div v-if="this.search">
             <div v-for="(item,index) in allCountries" :key="index">
                <p class="my-4">Countries : {{item.name}}</p>
                <p class="my-4">NativeName : {{item.nativeName}}</p>
                <p class="my-4">Capital : {{item.capital}}</p>
                <p class="my-4">Region : {{item.region}}</p>
                <p class="my-4">Timezones : {{item.timezones}}</p> 
                
            </div> 
          </div>
          <div v-else>
             <p>ข้อมูลไม่ถูกต้องหรือไม่ได้ป้อนข้อมูล</p>
          </div>
            
       
      </b-modal>
    </div> 
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return {
      allCountries: null,
      search: "" ,
      modal: false,
    }
  },
  methods:{
    submit(){
        axios
          .get('https://restcountries.eu/rest/v2/name/'+this.search)
          .then((res) => {this.allCountries=res.data;
            console.log(res.data);
        })
      }
 
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h3 {
  margin: 30px 0 0;
  text-align: center;
  font-size: 110px;
}
.searchData{
  margin:300px auto 50px auto;
}
.mb-2{
  width: 800px;
  margin: 40px auto;
}
.inputData{
  background-color: aliceblue;
  height: 50px;
}

</style>
